# dependencies
node_modules/

# build artifacts
dist/
build/
android/app/build/
android/build/

# sensitive files & local settings
*.jks
*.keystore
*.properties
android/local.properties
gradle.properties
.env
.DS_Store

# logs
*.log